.animal-card {
    text-align: center;
    width: 160px;
    border: 2px solid;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.animal-card h4 {
    padding: 5px 0;
}
.animal-card.male {
    border-color: blue;
}
.animal-card.female {
    border-color: pink;
}

.mates {
    text-align: center;
}

.mate {
    display: inline-block;
    vertical-align:top;
    margin: 10px;
}

.mate .btn {
    margin: 10px;
}
