.animal-card {
    text-align: center;
    width: 160px;
    border: 2px solid;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.animal-card h4 {
    padding: 5px 0;
}
.animal-card.male {
    border-color: #2fa9be;
}
.animal-card.female {
    border-color: pink;
}

.mates, .children {
    text-align: center;
}

.mate, .child {
    display: inline-block;
    vertical-align:top;
    margin: 10px;
}

.mate .btn {
    margin: 10px;
}

.bottom {
    position: fixed;
    width:100%;
    bottom: 0;
}

.bottom .right {
    text-align: right;
}